services:
  db:
    image: postgres
    container_name: "rental-db"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    env_file:
      - ./backend/.env

volumes:
  postgres-data:
    external: true
    name: apartment-rental-ranking-system_postgres-data