services:
  db:
    image: postgres
    container_name: "rental-db"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    env_file:
      - ./backend/.env

  redis:
    image: redis:7-alpine
    container_name: "rental-redis"
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  celery-worker:
    build: ./backend
    command: celery -A rental_intel worker
    depends_on:
      - redis
      - db

  celery-beat:
    build: ./backend
    command: celery -A rental_intel beat --scheduler django_celery_beat.schedulers:DatabaseScheduler
    depends_on:
      - redis
      - db

volumes:
  postgres-data:
  redis-data: